[Desktop Entry]
Name=Privacy Indicator
Exec=cosmic-ext-applet-privacy-indicator
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.DBrox.CosmicPrivacyIndicator-symbolic
Categories=COSMIC
Keywords=Privacy;Monitor;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
